<mat-nav-list>
    <div class="dashboard">
        <mat-icon>dashboard</mat-icon>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    </div>
    <mat-divider></mat-divider>
    <div class="devices">
        <mat-icon>account_circle</mat-icon>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Devices</a>
    </div>
    <mat-divider></mat-divider>
    <div class="locations">
        <mat-icon>location_on</mat-icon>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/locations">Locations</a>
    </div>
</mat-nav-list>



