<div fxFlex-fxLayout="row" class="row top">
    <div class="col-5">
        <button mat-icon-button>
            <mat-icon>trending_up</mat-icon>
        </button>
        <span>Sensor Statistics</span>
    </div>
    <div class="col-7">
      <div class="row">
        <div class="col-6">
          <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-secondary">Today</button>
              <button type="button" class="btn btn-outline-secondary">Week</button>
              <button type="button" class="btn btn-outline-secondary">Month</button>
              <button type="button" class="btn btn-outline-secondary">Quarter</button>
              <button type="button" class="btn btn-outline-secondary">Year</button>
          </div>
        </div>
        <div class="col-6 date">
          <button type="button" class="btn btn-outline-dark btn-sm">
            <mat-icon>date_range</mat-icon>
          24 March-23 April 2019</button>
        </div>
      </div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="row cards">

  <div class="col-3">
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-body text-info">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-body text-info">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-body text-info">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-body text-info">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <img src="assets/img/graph1.png" alt="">
  </div>
  <div class="col-6">
    <img src="assets/img/graph2.png" alt="">
  </div>
</div>
