<body>
  <div fxFlex-fxLayout="row" class="row top">
    <div class="col-6">
        <button mat-icon-button>
            <mat-icon>trending_up</mat-icon>
        </button>
        <span>Sensor Statistics</span>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-secondary">Left</button>
              <button type="button" class="btn btn-outline-secondary">Middle</button>
              <button type="button" class="btn btn-outline-secondary">Right</button>
          </div>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-outline-dark btn-sm">
            <mat-icon>date_range</mat-icon>
          24 March-23 April 2019</button>
        </div>
      </div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="container">
<div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-3 mx-1 my-2 card">
          <h1>64</h1>
          <span>Temperature</span>
        </div>
        <div class="col-3 mx-1 my-2 card">
          <h1>64</h1>
          <span>Temperature</span>
        </div>
        <div class="col-3 mx-1 my-2 card">
          <h1>64</h1>
          <span>Temperature</span>
        </div>
        <div class="col-3 mx-1 my-2 card">
          <h1>64</h1>
          <span>Temperature</span>
        </div>
        <div class="col-3 mx-1 my-2 card">
          <h1>64</h1>
          <span>Temperature</span>
        </div>
        <div class="col-3 mx-1 my-2 card">
          <h1>64</h1>
          <span>Temperature</span>
        </div>
        <div class="col-3 mx-1 my-2 card">
          <h1>64</h1>
          <span>Temperature</span>
        </div>
        <div class="col-3 mx-1 my-2 card">
          <h1>64</h1>
          <span>Temperature</span>
        </div>
      </div>
    </div>
    <div class="col-4 mx-1 my-2 card last">
        1
     </div>
  </div>
</div>

<mat-divider></mat-divider>

<span>Device Location</span>

<div>
  <img src="assets/img/ass.png" alt="">
</div>

</body>


